<!doctype html>
<html>
    <head>
        <title>{{ jarName }} - Code Coverage Summary</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <style type="text/css">
        body {
            font-family: "Open Sans", sans-serif;
            background-color: #f2f2f4;
            padding: 5px;
        }
        h1 {
            margin-top: 0;
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.25em;
            margin-bottom: 10px;
        }
        #classes .class, .error {
            padding: 10px;
            margin-top: 10px;
            background-color: white;
        }
        #classes .class {
            display: inline-block;
            margin-right: 10px;
        }
        #classes .class .name {
            font-weight: bold;
        }
        #classes .class .pkg {
            color: #888;
            font-size: 0.95em;
        }
        #classes .class table tbody td {
            min-width: 50px;
            text-align: right;
        }
        #classes .class table tbody td.type {
            min-width: 100px;
            text-align: left;
        }
        input {
            width: 100%;
            font-family: "FontAwesome", "Open Sans", sans-serif;
            border-radius: 5px;
            border: 1px solid #bbb;
            padding: 5px;
            box-sizing: border-box;
            font-size: 1em;
            box-sizing: border-box;
        }
        input:focus {
            outline: none;
            border: 1px solid #888;
        }
        #classes .class table thead {
            font-weight: bold;
        }
        .darkred {
            color: #B71C1C;
        }
        .darkgreen {
            color: #1B5E20;
        }
        .red {
            background-color: #E57373;
        }
        .yellow {
            background-color: #FFF176;
        }
        .green {
            background-color: #81C784;
        }
        </style>
        <script type="text/javascript">
        $(document).ready(function() {
            $("#search").on("change paste keyup", function(e) {
                var text = $(this).val().toLowerCase();
                $("#classes .class").each(function(k, v) {
                    if ($(this).find(".name").text().toLowerCase().indexOf(text) > -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
        });
        </script>
    </head>
    <body>
        <h1>Test Results for {{ jarName }}</h1>
        <i class="fa fa-clock-o"></i> {{ timestamp }}<br />
        <span class="dark{% if summary > 0.9 %}green{% else %}red{% endif %}"><i class="fa fa-pie-chart"></i> <b>{{ number_format(summary, 2) }}%</b> Overall Coverage</span><br />
        <span class="dark{% if basic.failCount == 0 %}green{% else %}red{% endif %}"><i class="fa fa-file-text-o"></i> <b>{{ basic.passCount }}</b> out of <b>{{ basic.passCount + basic.failCount }}</b> basic tests passed ({{ number_format(basic.passCount * 100 / (basic.passCount + basic.failCount), 2) }}%)</span><br />
        <i class="fa fa-file-text"></i> <b>{{ security.passCount }}</b> out of <b>{{ security.passCount + security.failCount }}</b> security tests passed ({{ number_format(security.passCount * 100 / (security.passCount + security.failCount), 2) }}%)</i>
        {% if length(security.errorMessages) > 0 %}
            <h2>Error Messages</h2>
            {% for error in security.errorMessages %}
            <div class="error">
                <pre>{{ error }}</pre>
            </div>
            {% endfor %}
        {% endif %}
        <h2>Code Coverage</h2>
        <input type="text" id="search" placeholder="&#xf002; Search for Class" />
        <div id="classes">
            {% for class,data in coverage %}
            <div class="class">
                <div class="name">{{ split(class,'/')[1] }}</div>
                <div class="pkg">{{ split(class,'/')[0] }}</div>
                <table>
                    <thead>
                        <tr><td>Category</td><td>Covered</td><td>Total</td><td>Percent</td></tr>
                    </thead>
                    <tbody>
                        {% for type,info in data %}
                        <tr class="{% if info.covered == info.total %}green{% elseif info.covered == 0 %}red{% else %}yellow{% endif %}">
                            <td class="type">{{ title(type) }}</td>
                            <td>{{ info.covered }}</td>
                            <td>{{ info.total }}</td>
                            <td>{% if info.total == 0 %}N/A{% else %}{{ number_format(info.covered*100/info.total, 2) }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
